/*------------------------------------------Для всех страниц------------------------------------------*/
/*---Общее---*/
* {
    font-family: "Arial Black", Arial;
    font-weight: 900;
    margin: 0;
    padding: 0;
    color: white;
}

a {
  text-decoration: none;
}

body {
    background-color: #424242;
    background-image: url('/images/background.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
}

.ico {
    float: left;
    height: 90%;
    width: 10%;
    margin: 10px;
}

.menuL {
    height: 93%;
    padding: 3px;
}

.profiler {
    float: left, bottom;
    color: black;
    padding-left: 3px;
    background-color: red;
}

.profilerP {
    margin-top: 3px;
    padding-left: 3px;
    color: black;
    background-color: red;
}
/*---Шапка---*/
.left_top {
    background-image: url(../images/left_top.jpg);
    width: 1.7%;
    height: 17px;
    float: left;
    background-size: cover;
}

.top {
    background-image: url(../images/top.jpg);
    width: 89.3%;
    height: 17px;
    float: left;
    background-size: cover;
}

.right_top {
    background-image: url(../images/right_top.jpg);
    width: 9%;
    height: 17px;
    float: left;
    background-size: cover;
}
/*---Левая---*/
.left {
    background-image: url(../images/left.jpg);
    width: 1.7%;
    height: 95%;
    float: left;
    background-size: cover;
}
/*---Правая---*/
.right {
    background-image: url(../images/right.jpg);
    width: 9%;
    height: 95%;
    float: right;
    background-size: cover;
}
/*---Подвал---*/
footer {
    width: 100%;
    float: left;
}

.left_bottom {
    background-image: url(../images/left_bottom.jpg);
    width: 1.7%;
    height: 17px;
    float: left;
    background-size: cover;
}

.bottom {
    background-image: url(../images/bottom.jpg);
    width: 89.3%;
    height: 17px;
    float: left;
    background-size: cover;
}

.right_bottom {
    background-image: url(../images/right_bottom.jpg);
    width: 9%;
    height: 17px;
    float: left;
    background-size: cover;
}
/*---Основная часть---*/
.globalstore {
    color: green;
    padding-top: 15px;
    padding-bottom: 30px;
    font-size: 16;
    float: left;
    height: 510px;
}
/*---Кнопки---*/
.buttonAll {
    margin: 10px 10px 10px 0px;
    padding: 10px 0px;
}

#click, #clickAD {
    padding: 5px 27px;
    background: black;
    border-radius: 60px;
    border: 0px solid blue;
    transition: 0.075s;
    margin: 5px 10px;
    text-align: center;
    margin-top: 10px;
}

#click:hover {
    border: 2px solid blue;
}

#clickAD {
    background: red;
}

#clickAD:hover {
    border: 2px solid white;
}
/*-------------------------------------------PDA-------------------------------------------*/
/*---Основная часть---*/
.block1, .nameBlock, .textBlock {
    color: white;
    font-family: "Arial Black";
}

.block1 {
    float: left;
    border: 5px solid white;
    height: 60%;
    width: 89%;
}

.nameBlock {
    font-size: 20;
    padding-left: 5px;
    padding-bottom: 5px;
}

.textBlock {
    font-size: 15;
    padding-left: 5px;
    padding-right: 5px; 
}
/*--------------------------------------------LOGIN.PHP---------------------------------------------*/
/*--------------------------------------------SINGUP.PHP---------------------------------------------*/
/*---Основная часть---*/
#regClick {
    padding: 5px 228.5px;
    background: red;
    border: 0px;
    text-align: center;
    color: black;
    font-size: 25px;
}

#logClick {
    padding: 5px 53px;
    background: red;
    border: 0px;
    text-align: center;
    color: black;
    float: right;
    font-size: 25px;
}

#logRegClick {
    padding: 5px 19.5px;
    background: red;
    border: 0px;
    text-align: center;
    color: black;
    float: left;
    font-size: 25px;
}

.centerForm {
    float: left;
    margin-top: 15%;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 15%;
}

.formReg{
    opacity: 0.7;
    text-align: center;
    color: black;
}

.formLogin {
    opacity: 0.7;
    text-align: center;
    color: black;
}

.centerFormR {
    float: left;
    margin-left: 7%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 7%;
}

.textReg, .textLog {
    color: black;
}

.fonL {
    font-size: 30px;
    float: left;
    width: 250px;
    height: 40px;
    text-align: center;
    background-color: red;
    margin-bottom: 4px;
}

.fonE {
    font-size: 30px;
    float: left;
    width: 250px;
    height: 40px;
    text-align: center;
    background-color: red;
    margin-bottom: 4px;
}

.fonP {
    font-size: 30px;
    float: left;
    width: 250px;
    height: 40px;
    text-align: center;
    background-color: red;
    margin-bottom: 4px;
}

.fonP2 {
    font-size: 30px;
    float: left;
    width: 250px;
    height: 40px;
    text-align: center;
    background-color: red;
    margin-bottom: 4px;
}

#auzFormL, #auzFormP {
    color: black;
    background-color: red;
    text-align: center;
    margin: center;
    border: none;
    font-size: 28px;
    position: inherit;
    margin-left: 5px;
    margin-bottom: 4px;
}

#regFormL, #regFormE, #regFormP, #regFormP2 {
    color: black;
    background-color: red;
    text-align: center;
    margin: center;
    border: none;
    font-size: 28px;
    position: inherit;
    margin-left: 3px;
    margin-bottom: 4px;
}


.errors {
    font-size: 30px;
    color: red;
    text-align: center;
}
/*@media screen and (max-width: 1280px){
    .fonL{
        font-size: 30px;
    }
}*/
/*-------------------------------------------ACCESSDENIED.PHP-------------------------------------------*/
/*---Основная часть---*/
.AD, .infoAD {
    color: red;
    font-size: 40;
    text-shadow: 
                white 1px 1px 0,
                white -1px -1px 0,
                white -1px 1px 0,
                white 1px -1px 0;
}

.infoAD {
    font-size: 20;
}

.buttonAD, .buttonAD1 {
    margin-top: 10px 10px 10px 0px;
    padding: 10px 0px;
    font-size: 20;
    text-shadow: 
                black 1px 1px 0,
                black -1px -1px 0,
                black -1px 1px 0,
                black 1px -1px 0;
}

.buttonAD {
    float: left;
}

.buttonAD1 {
    float: right;
}

#buttonAD {
    padding: 5px 27px;
    border-radius: 60px;
    border: 0px solid red;
    transition: 0.075s;
    margin: 5px 10px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
}

#buttonAD:hover {
    border: 2px solid red;
    color: #13B207;
    text-shadow: black 0 0 10px;
}
/*-------------------------------------------СТРАНИЦА.PHP-------------------------------------------*/
/*---Шапка---*/
/*---Основная часть---*/
/*---Подвал---*/